// colors
$primary-color: rgb(20,21,25);
$secondary-color: rgb(33,40,50);
$accent-color: rgb(252,118,19);
$accent-dark: rgb(165,105,64);
$grey-dark: rgb(38,47,56);
$grey-light: rgb(127,137,148);
$grey-lighter: rgb(125,135,152);
$white: rgb(255,255,255);

// font
$roboto: 'Roboto', sans-serif; 
$mont: 'Montserrat', sans-serif; 

// font sizes
$font-bg: 2.5rem;
